body {
  margin: 0;
  pading: 0;
  box-sizing: border-box;
  font-family: 'Gilroy-Regular', sans-serif;
}

/* under-header
================================== */

.back-ground-under {
  background-color: black;
  opacity: 88%;
}
li {
  list-style: none;
}
.under-header {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0 120px;
}
.nav-under-header {

  text-align: right;
  filter: invert(99%) sepia(7%) saturate(4%) hue-rotate(90deg) brightness(107%)
    contrast(100%);
}
.text-under {
  font-size: 12px;
  color: white;
}

.nav-under-item {
  text-align: right;
  max-width: 20px;
  cursor: pointer;
  margin-left: 10px;
}

/* header 
================================*/

.header {
  margin: 0 120px;
  display: flex;
  align-items: center;
  margin-top: 1%;
}
.header-logo {
  filter: invert(70%) sepia(51%) saturate(2808%) hue-rotate(358deg)
    brightness(99%) contrast(107%);

  max-width: 50px;
}

.header-logo-text {
  margin-left: 1%;
  font-weight: 700;
  font-size: 30px;
}

/* navigation
=============================== */

.nav {
  display: flex;
  list-style: none;
  padding-left: 25%;
}
.nav-item a {
  text-decoration: none;
  margin-left: 25px;
  color: black;
}
.icon-nav {
  text-align: right;
}
.nav-icon {
  align-items: center;
  background-color: #d2b5a6;
  padding: 2% 2%;
  color: #d2b5a6;
  border: 1px solid #d2b5a6;
  border-radius: 50%;
  transition: 0.5s;
  max-width: 5%;
  margin-left: 5%;
  cursor: pointer;
}
.checkbtn {
  display: none;
  padding-left: 25px;
  width: 35px;
}

/* slider */
.container {
  margin-top: 10px;
  margin: 0 120px;
  padding-top: 10%;
  padding-bottom: 10%;
  color: white;
}

/* Slider
================================ */

.slider {
  margin-top: 1%;
  background-size: 100% 170%;
  width: 100%;
  background-repeat: no-repeat;
  background-image: url("../img/monaco-1.jpg");
}

.price {
  font-size: 30px;
  margin-bottom: 15px;
}
.slider-under-text {
  font-size: 14px;
}
.slider-text {
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 5px;
}
.slider-desc {
  font-size: 12px;
  margin-bottom: 20px;
}

.button {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50px;
  color: white;
  font-size: 14px;
  margin-bottom: 25px;
  transition: 0.3s all linear;
}
.button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
.navbuttons {
  display: flex;
  align-items: center;
}
.navbutton {
  padding: 2% 2%;
  background-color: black;
}

/* CARDS 1
=====================================*/

.container-card {
  margin-left: 120px;
  margin-right: 120px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.cards {
  margin-left: 25px;
  width:25%;
  height: auto;
  margin-top: 3%;
  font-family: "Open Sans";
  margin-bottom: 3%;
}

.title-info {
  display: flex;
  align-items: center;
}
.card-title {
  font-size: 20px;
  font-weight: 700;
  max-width: 30%;
}
.card-number {
  font-size: 30px;
  opacity: 50%;
  margin-left: 135px;
}

.card-desc {
  max-width: 75%;
  margin-top: 5%;
  display: flex;
  font-size: 12px;
  flex-wrap: wrap;
}
.click-me {
  padding-top: 10%;
}
.click {
  text-decoration: none;
  color: #d2b5a6;
  opacity: 75%;
}

/* Concept
===================================== */

.concept {
  justify-content: center;
  margin-top: 1%;
  background-size: 120% 150%;
  width: 100%;
  height: 90%;
  margin-bottom: 5%;
  background-repeat: no-repeat;
  background-image: url("../img/designinterior.jpg");
  text-align: center;
  align-items: center;
}

.concept-cont {
  padding-top: 15%;
}
.concept-title {
  justify-content: center;
  font-size: 50px;
  color: white;
  font-weight: 700;
}
.concept-subtitle {
  color: white;
  font-size: 16px;
}

/* Our project */

.containerrr {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.block {
  width: 240px;
  margin: 0;
  margin-bottom: 3%;
}

.img-top {
  width: 100%;
  height: auto;
  margin-bottom: -40px;
}

.img-circle-wrapper {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
}

.img-circle {
  overflow: hidden;
}

.img-circle img {
  margin: 0 auto;
  display: block;
  width: 100%;
  height: auto;
}

.text-wrapper {
  text-align: center;
  margin-top: 5%;
}

.text-wrapper h3 {
  margin: 0;
}

.text-wrapper p {
  margin: 0;
}

/* Cards 2 


======================= */

.container-card2 {
  justify-content: center;
  color: white;
  background-size: 120% 150%;
  background-image: url("../img/images.jpg");
  background-repeat: no-repeat;
  margin-top: 3%;
}
.cards2-2{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-left: 120px;
  margin-right: 120px;

}
.cards2 {
  
    margin-left: 25px;
    width:31.33333%;
    height: auto;
    margin-top: 3%;
    font-family: "Open Sans";
    margin-bottom: 3%;

  
}

.icon {
  width: 50px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(277deg)
    brightness(102%) contrast(103%);
}

.title-info {
  display: flex;
  align-items: center;
}
.card-desc2 {
  width: 35%;
  margin-left: 75px;
  font-size: 15px;
}
.card-title2 {
  font-size: 25px;
  font-weight: 700;
  padding-left: 25px;
}

.pointer {
  padding-top: 5px;
  font-size: 30px;
  padding-left: 75px;
}

/* Cards 3
========================= */

.containerrr {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.block {
  width: 240px;
  margin: 0;
  margin-bottom: 3%;
}
.container-card3 {
  justify-content: center;
  align-items: center;
  margin-top: 8%;
  margin-left: 10%;
  margin-right: 10%;
}
.cards3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card3 {
  width: 295px;
  margin-top: 10%;
  margin-bottom: 5%;
  margin-left: 25px;
}

.title-info-no-card {
  display: flex;
}

.title-no-card {
  text-transform: uppercase;
  margin-left: 12%;
}

.button-no-card {
  text-decoration: none;
  color: #d2b5a6;
  margin-left: 55%;
}

.under-title-card3 {
  font-size: 14px;
  margin-bottom: 2%;
  color: #d2b5a6;
}
.hr-card3 {
  width: 25px;
  margin-right: 100%;
  margin-top: 7%;
  margin-bottom: 5%;

  border: 1px solid #d2b5a6;
}

.title-card3 {
  font-weight: 700;
  font-size: 23px;
  padding-top: 3%;
}

.card-desc3 {
  padding-top: 3%;
}

.button-card3 {
  color: white;
  background-color: #d2b5a6;
  border: none;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 7%;
  border-radius: 15px;
  font-size: 16px;
}


/* Footer
============= */
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-left: calc(var(--bs-gutter-x) * -0.5);
}
a {
  text-decoration: none;
  cursor: pointer;
}
.align-items-center {
  align-items: center!important;
}
.row>* {
  align-items: center;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
}


.btn-footer {
  color: white;
  border: 1px solid white;
  padding: 12px 36px;
  font-size: 14px;
  font-size: .93333rem;
  font-weight: 600;
  font-style: normal;
  font-family: Gilroy, sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 250px;
  margin-left:550px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  background: 0 0;
}
.btn-footer:hover{
  background-color: white;
  color: rgb(44, 135, 135);
}
.container-footer{

  align-items: center;
  display: flex;
  width: 100%;
  padding-right: var(--bs-gutter-x,0.75rem);
  padding-left: var(--bs-gutter-x,0.75rem);
  
}
.footer {
  background: #1D2131;
}
.footer__top {
  padding: 36px 0;
  border: 1px solid rgba(83,90,111,.5);
}
.footer {
  background: #1D2131;
}
.footer__top {
  padding: 36px 0;
  border: 1px solid rgba(83, 90, 111, .5);
}
.footer__middle {
  padding: 36px 0;
}
.footer__middle--contact {

  color: #fff;
}
.footer__middle--container {
  display: block;
}
.footer__middle--title {
  color: #fff;
  font-size: 24px;
  font-size: 1.6rem;
  font-weight: 600;
  font-style: normal;
  margin-bottom: 14px;
}
.footer__middle--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 18px;
}
.footer__middle--item:last-child {
  margin-bottom: 0;
}
.footer__middle--item .title {
  color: #fff;
  opacity: .8;
  font-size: 12px;
  font-size: .8rem;
  margin-bottom: 4px;
  font-weight: 400;
  font-style: normal;
  display: block;
}
.footer__middle--item .content {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}
.footer__middle--item .content a {
  color: #fff;
  text-decoration: none;
}
.footer__bottom {
  padding: 20px 0;
  background: #14171D;
}
.footer__bottom--copyright, .footer__bottom--developer {
  color: #fff;
  font-size: 12px;
  font-size: .8rem;
}
.footer__bottom--copyright a, .footer__bottom--developer a {
  color: #fff;
  text-decoration: none;
  opacity: .8;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.footer__bottom--copyright a:hover, .footer__bottom--developer a:hover {
  color: #3c4258;
}
.footer__bottom--developer {
  margin-right: 18px;
}
.footer__bottom--social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer__bottom--social .social-item {
  width: 30px;
  height: 30px;
  margin-right: 12px;
  background: #535a6f;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.footer__bottom--social .social-item:hover {
  background: #3a95c9;
}
.footer__nav{
  margin-left: 15px;}

.footer__nav--list {
  list-style-type: none;
}
.footer__nav--section {

  color: #fff;
  font-size: 18px;
  font-size: 1.2rem;
  font-weight: 600;
  font-style: normal;
  font-family: Gilroy, sans-serif;
  margin-bottom: 16px;
}
.footer__nav--section li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.footer__nav--section:last-child {
  margin-bottom: 0;
}
.footer__nav--section a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.footer__nav--section a:hover {
  color: #3c4258;
}
.footer__nav--subsection {
  color: #fff;
  font-size: 14px;
  font-size: .93333rem;
  font-weight: 500;
  font-style: normal;
  font-family: Gilroy, sans-serif;
  margin-bottom: 12px;
  opacity: .8;
}
.footer__nav--subsection a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.footer__nav--subsection a:hover {
  color: #3c4258;
}



/* Media
===================== */

@media screen and (max-width: 850px) {
  .cards2{
    width: 100%;
  }
  .text-under {
    font-size: 12px;
  }
  .nav-item {
    display: none;
  }
  .icon-nav {
    display: none;
  }
  .header{
    margin-left: 70px;
    margin-right: 70px;
  }
.checkbtn{
    display: block;
  }
ul{
  position: fixed;
}
  .under-header{
    margin: 0 70px;
  }
  .nav-under-header {
    margin-left: 5px;
  }
  .cards{
    margin: 0 70px;
    margin-top:10%;
    margin-bottom: 10%;
  }
  .container{
    margin: 0 70px;
  }
  .slider-text {
    font-size: 15px;

}
.price {
  font-size: 20px;
  margin-bottom: 15px;
}
.slider-desc {
  font-size: 8px;
  margin-bottom: 20px;
}
.button {
  font-size: 12px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 25px;
  padding-right: 25px;
}
.concept{
  width: 100%;
}
.concept-title{
  font-size: 35px;
}
.concept-subtitle{
  font-size: 12px;
}
}
@media screen and (max-width: 1123px) {

  .cards2{
    width: 45%;
  }
  .concept {
    height: 40%;
  }
  @media (max-width: 768px) {
    .block {
      width: 80%;
      max-width: 400px;
    }
  }
}
@media (min-width: 1400px){
.container-footer, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl 
{
    max-width: 1320px;
}
}
@media (min-width: 1200px){
  .container-footer, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl 
  {
      max-width: 1140px;
  }
  }
  @media (min-width: 992px){
    .container-footer, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl 
    {
        max-width: 960px;
    }
    }
    @media (min-width: 768px){
      .container-footer, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl 
      {
          max-width: 720px;
      }
      }
      @media (min-width: 576px){
        .container-footer, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl 
        {
            max-width: 540px;
        }
        }